/*
element
id
klass
child
övrigt
*/

body {
    padding: 15%;
    ;
    background-color: rgb(168, 207, 160);
    width: 600px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

p {
    color: rgb(6, 6, 6);
    font-size: 20pt;
}

button {
    max-width: 800px;
}

#feedback-field {
    width: 400px;
    font-size: 18pt;
    height: 60px;
    background-color: beige;
    border: thin black solid;
    margin-top: 10px;
    margin-bottom: 10px;
}

#interval-timer {
    display: flex;
    min-height: 25px;
    height: auto;
    text-align: center;
    background-color: rgb(204, 160, 204);
    font-size: 20pt;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(112, 3, 85);
    /*  width: 100%;  */

}



#root {
    background-color: rgb(190, 22, 22);
}

#next-button {
    background-color: rgb(168, 207, 160);
    margin-top: 10px;
    ;
}

.element-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(204, 160, 204);
    padding: 10%;
}

.button {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgb(187, 176, 187);
    font-size: 18pt;
    padding: 2%;

    /* margin-bottom: 5%; */
}

.header {
    background-color: #F1F1F1;
    text-align: center;
    padding: 20px;
}

.hidden {
    display: none;

}

.visible {
    display: block;
}

.feedback {
    background-color: antiquewhite;
}

.element-box button {
    margin-bottom: 10px;
}

button[disabled] {
    opacity: 0.5;
    cursor: not-allowed;
}